# Transformaciones

In [48]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import ast
sns.set()

import pandas as pd
import helper

## Transformaciones en Steam Games

In [30]:
#steam_games
df_steam_games = pd.read_csv("Dataset/steam_games.csv", encoding='utf-8')

### Eliminar valores duplicados por item_id

En la calidad de dato se indico que se eliminarian los indices 74, 14573, 30961

In [31]:
df_steam_games = df_steam_games.drop([74,14573,30961]).reset_index(drop=True)
df_steam_games.head()

,genres,app_name,title,release_date,item_id,developer,Accounting,Action,Adventure,Animation &amp; Modeling,...,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing,sin dato
0,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,761140.0,Kotoshiro,0,1,0,0,...,0,0,1,0,0,1,0,0,0,0
1,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,Ironbound,2018-01-04,643980.0,Secret Level SRL,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
2,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,Real Pool 3D - Poolians,2017-07-24,670290.0,Poolians.com,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
3,"['Action', 'Adventure', 'Casual']",弹炸人2222,弹炸人2222,2017-12-07,767400.0,彼岸领域,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,sin dato,Log Challenge,NaN,NaN,773570.0,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

Se rellenara los valores de app_name con los valores de title

In [32]:
# Rellenar los valores nulos en 'app_name' con los valores de 'title'
df_steam_games['app_name'].fillna(df_steam_games['title'], inplace=True)

# Eliminar la columna 'title'
df_steam_games.drop('title', axis=1, inplace=True)
df_steam_games.head()

,genres,app_name,release_date,item_id,developer,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,...,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing,sin dato
0,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,2018-01-04,761140.0,Kotoshiro,0,1,0,0,0,...,0,0,1,0,0,1,0,0,0,0
1,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,2018-01-04,643980.0,Secret Level SRL,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
2,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,2017-07-24,670290.0,Poolians.com,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
3,"['Action', 'Adventure', 'Casual']",弹炸人2222,2017-12-07,767400.0,彼岸领域,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,sin dato,Log Challenge,NaN,773570.0,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [33]:
# Crear una máscara booleana para identificar las filas con 'app_name' nulo
mask_app_name_nulo = df_steam_games['app_name'].isnull()

# Filtrar el DataFrame para obtener solo las filas con 'app_name' nulo
dataframe_app_name_nulo = df_steam_games[mask_app_name_nulo]
dataframe_app_name_nulo

,genres,app_name,release_date,item_id,developer,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,...,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing,sin dato
2579,"['Action', 'Indie']",NaN,2014-08-26,317160.0,NaN,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Este item_id se verifico que no existe y tambien se realizo las averiguaciones correspondientes y tampoco existe en el archivo user_items por tanto se eliminara

In [34]:
df_steam_games = df_steam_games.drop([2579]).reset_index(drop=True)
df_steam_games.head()

,genres,app_name,release_date,item_id,developer,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,...,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing,sin dato
0,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,2018-01-04,761140.0,Kotoshiro,0,1,0,0,0,...,0,0,1,0,0,1,0,0,0,0
1,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,2018-01-04,643980.0,Secret Level SRL,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
2,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,2017-07-24,670290.0,Poolians.com,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
3,"['Action', 'Adventure', 'Casual']",弹炸人2222,2017-12-07,767400.0,彼岸领域,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,sin dato,Log Challenge,NaN,773570.0,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

### Columna developer

Se rellenara developer en sus valores nulos con "sin dato" ya que no se encontro en los datos proporcionados la forma de llenarlos

In [35]:
df_steam_games['developer'].fillna("sin dato", inplace=True)
df_steam_games.head()

,genres,app_name,release_date,item_id,developer,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,...,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing,sin dato
0,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,2018-01-04,761140.0,Kotoshiro,0,1,0,0,0,...,0,0,1,0,0,1,0,0,0,0
1,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,2018-01-04,643980.0,Secret Level SRL,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
2,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,2017-07-24,670290.0,Poolians.com,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
3,"['Action', 'Adventure', 'Casual']",弹炸人2222,2017-12-07,767400.0,彼岸领域,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,sin dato,Log Challenge,NaN,773570.0,sin dato,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

### Tratamiento de release_data

Para este columna extraeremos el año y rellenaremos los valores nulos con la mediana ya que con este estadistico no seremos afectados por valores extremos

In [36]:
# Comprobar y manejar los valores nulos en 'release_date'
df_steam_games['anio'] = pd.to_datetime(df_steam_games['release_date'], errors='coerce')

# Eliminar filas con valores nulos en 'release_date'
df_steam_games = df_steam_games.dropna(subset=['anio'])

# Extraer el año de 'release_date' y convertir a tipo entero
df_steam_games['anio'] = df_steam_games['anio'].dt.year.astype(int)

# Convertir 'item_id' a tipo entero
df_steam_games['item_id'] = df_steam_games['item_id'].astype(int)

# Eliminar la columna 'release_date'
df_steam_games = df_steam_games.drop('release_date', axis=1)

# Cambiar el nombre de 'anio' a 'release_date'
df_steam_games = df_steam_games.rename(columns={'anio': 'release_date'})

df_steam_games.head()

C:\Users\LENOVO..LEGION\AppData\Local\Temp\ipykernel_12020\4194486295.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_steam_games['anio'] = pd.to_datetime(df_steam_games['release_date'], errors='coerce')

,genres,app_name,item_id,developer,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,...,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing,sin dato,release_date
0,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,761140,Kotoshiro,0,1,0,0,0,1,...,0,1,0,0,1,0,0,0,0,2018
1,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,643980,Secret Level SRL,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,2018
2,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,670290,Poolians.com,0,0,0,0,0,1,...,0,1,0,1,0,0,0,0,0,2017
3,"['Action', 'Adventure', 'Casual']",弹炸人2222,767400,彼岸领域,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,2017
5,"['Action', 'Adventure', 'Simulation']",Battle Royale Trainer,772540,Trickjump Games Ltd,0,1,1,0,0,0,...,0,1,0,0,0,0,0,0,0,2018

En la anterior se elimino de **release_date** porque los datos se sesgaban, aparte que lla informacion es suficiente para poder realizar el analisis correspondiente, pero en caso de no eliminarse se usara el siguiente bloque de codigo para rellenar los nulos con la mediana, pero se pudo evidenciar que los datos se sesgaban

In [25]:
# Comprobar y manejar los valores nulos en 'release_date'
df_steam_games['anio'] = pd.to_datetime(df_steam_games['release_date'], errors='coerce').dt.year

# Calcular la mediana de 'anio'
mediana_anio = df_steam_games['anio'].median()

# Rellenar los valores nulos en 'anio' con la mediana calculada
df_steam_games['anio'].fillna(mediana_anio, inplace=True)
#convertirmos a tipo int porque aparece como double
df_steam_games['anio'] = df_steam_games['anio'].astype(int)
df_steam_games['item_id'] = df_steam_games['item_id'].astype(int)
#eliminamos la columna relase_date
df_steam_games = df_steam_games.drop('release_date', axis=1)
#cambiamos el nombre de anio a release_date
df_steam_games=df_steam_games.rename(columns={'anio': 'release_date'})
df_steam_games.head()

,genres,app_name,item_id,developer,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,...,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing,sin dato,release_date
0,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,761140,Kotoshiro,0,1,0,0,0,1,...,0,1,0,0,1,0,0,0,0,1970
1,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,643980,Secret Level SRL,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1970
2,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,670290,Poolians.com,0,0,0,0,0,1,...,0,1,0,1,0,0,0,0,0,1970
3,"['Action', 'Adventure', 'Casual']",弹炸人2222,767400,彼岸领域,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1970
4,sin dato,Log Challenge,773570,sin dato,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1970

Exportaremos los datos para poder hacer los analisis estadisticos

In [37]:
df_steam_games.to_parquet('Dataset/steam_games_clean.parquet', index=False)

## Transformaciones en User Items

In [24]:
# leer user items
df_user_items = pd.read_csv("Dataset/user_items.csv", encoding='utf-8')

### Eliminar Duplicados

En el eda se verifico que existian valores duplicados por tanto se procede directamente a eliminarlos

In [25]:
df_user_items = df_user_items.drop_duplicates()
df_user_items.head()

   item_id  playtime_forever            user_id
0       10                 6  76561197970982479
1       20                 0  76561197970982479
2       30                 7  76561197970982479
3       40                 0  76561197970982479
4       50                 0  76561197970982479

### Eliminar tiempo de juego que sean iguales a 0 y outlaiers

Se elimina los valores iguales a 0 porque no aportan informacion de review ya que sin ser jugado uno no puede dar una opinion de cierto juego

In [26]:
df_user_items = df_user_items[df_user_items["playtime_forever"] != 0]
df_user_items

         item_id  playtime_forever            user_id
0             10                 6  76561197970982479
2             30                 7  76561197970982479
8            300              4733  76561197970982479
9            240              1853  76561197970982479
10          3830               333  76561197970982479
...          ...               ...                ...
5153202   304930               677  76561198329548331
5153203   227940                43  76561198329548331
5153206   388490                 3  76561198329548331
5153207   521570                 4  76561198329548331
5153208   519140                 3  76561198329548331

[3246362 rows x 3 columns]

### Playtime_forever de minutos a horas

In [27]:
df_user_items['playtime_forever'] = df_user_items['playtime_forever'] / 60

Exportaremos los datos para poder hacer los analisis estadisticos

In [28]:
df_user_items.to_parquet('Dataset/user_items_clean.parquet', index=False)

## Transformaciones en User Reviews

In [38]:
#leer user_reviews
df_user_reviews = pd.read_csv("Dataset/user_reviews.csv", encoding='utf-8')

### Eliminamos duplicados

In [39]:
df_user_reviews = df_user_reviews.drop_duplicates()
df_user_reviews

,posted,item_id,recommend,review,user_id
0,"Posted November 5, 2011.",1250,True,Simple yet with great replayability. In my opi...,76561197970982479
1,"Posted July 15, 2011.",22200,True,It's unique and worth a playthrough.,76561197970982479
2,"Posted April 21, 2011.",43110,True,Great atmosphere. The gunplay can be a bit chu...,76561197970982479
3,"Posted June 24, 2014.",251610,True,I know what you think when you see this title ...,js41637
4,"Posted September 8, 2013.",227300,True,For a simple (it's actually not all that simpl...,js41637
...,...,...,...,...,...
59300,Posted July 10.,70,True,a must have classic from steam definitely wort...,76561198312638244
59301,Posted July 8.,362890,True,this game is a perfect remake of the original ...,76561198312638244
59302,Posted July 3.,273110,True,had so much fun plaing this and collecting res...,LydiaMorley
59303,Posted July 20.,730,True,:D,LydiaMorley
59304,Posted July 2.,440,True,so much fun :D,LydiaMorley

### Columna review convertirlo a sentiment_analysis

usaremos la libreria nltk

In [40]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\LENOVO..LEGION\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [41]:
df_user_reviews['review'] = df_user_reviews['review'].astype(str)

creamos la funcion para convertirlo a Negativo = 0, Neutral = 1 y Positivo =2

In [42]:
def convertir_sentimiento(valor):
    if pd.isnull(valor):
        return 0
    elif valor < -0.2:
        return 0
    elif valor >= 0.2:
        return 2
    elif -0.2 <= valor < 0.2:
        return 1
    else:
        return None

Creamos la columna sentiment_analysis en donde sera el sentimiento de la review

In [43]:
sia = SentimentIntensityAnalyzer()
df_user_reviews["sentiment_analysis"] = df_user_reviews["review"].apply(lambda i: convertir_sentimiento(sia.polarity_scores(i)['compound']))
df_user_reviews.head()

,posted,item_id,recommend,review,user_id,sentiment_analysis
0,"Posted November 5, 2011.",1250,True,Simple yet with great replayability. In my opi...,76561197970982479,2
1,"Posted July 15, 2011.",22200,True,It's unique and worth a playthrough.,76561197970982479,2
2,"Posted April 21, 2011.",43110,True,Great atmosphere. The gunplay can be a bit chu...,76561197970982479,2
3,"Posted June 24, 2014.",251610,True,I know what you think when you see this title ...,js41637,2
4,"Posted September 8, 2013.",227300,True,For a simple (it's actually not all that simpl...,js41637,2

Ahora podemos ver los datos cambiados que nos serviran para el analisis

In [44]:
df_user_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58431 entries, 0 to 59304
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   posted              58431 non-null  object
 1   item_id             58431 non-null  int64
 2   recommend           58431 non-null  bool
 3   review              58431 non-null  object
 4   user_id             58431 non-null  object
 5   sentiment_analysis  58431 non-null  int64
dtypes: bool(1), int64(2), object(3)
memory usage: 2.7+ MB

### Columna Posted

En esta columna estraremos el año y de aquellos que no tiene año usaremos la media para rellenar los datos

In [45]:
# Extraer el año de la columna 'posted' y crear una nueva columna 'anio'
df_user_reviews['anio'] = df_user_reviews['posted'].str.extract(r'(\d{4})', expand=False)

# Convertir la columna 'anio' a tipo numérico
df_user_reviews['anio'] = pd.to_numeric(df_user_reviews['anio'], errors='coerce')

# Calcular la mediana de los años
mediana_anio = df_user_reviews['anio'].median()

# Llenar los valores nulos en 'anio' con la mediana calculada
df_user_reviews['anio'].fillna(mediana_anio, inplace=True)

# Convertir la columna 'anio' a tipo entero
df_user_reviews['anio'] = df_user_reviews['anio'].astype(int)

# Eliminar la columna 'posted'
df_user_reviews.drop('posted', axis=1, inplace=True)
df_user_reviews

,item_id,recommend,review,user_id,sentiment_analysis,anio
0,1250,True,Simple yet with great replayability. In my opi...,76561197970982479,2,2011
1,22200,True,It's unique and worth a playthrough.,76561197970982479,2,2011
2,43110,True,Great atmosphere. The gunplay can be a bit chu...,76561197970982479,2,2011
3,251610,True,I know what you think when you see this title ...,js41637,2,2014
4,227300,True,For a simple (it's actually not all that simpl...,js41637,2,2013
...,...,...,...,...,...,...
59300,70,True,a must have classic from steam definitely wort...,76561198312638244,2,2014
59301,362890,True,this game is a perfect remake of the original ...,76561198312638244,2,2014
59302,273110,True,had so much fun plaing this and collecting res...,LydiaMorley,2,2014
59303,730,True,:D,LydiaMorley,2,2014
59304,440,True,so much fun :D,LydiaMorley,2,2014

In [46]:
df_user_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58431 entries, 0 to 59304
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   item_id             58431 non-null  int64
 1   recommend           58431 non-null  bool
 2   review              58431 non-null  object
 3   user_id             58431 non-null  object
 4   sentiment_analysis  58431 non-null  int64
 5   anio                58431 non-null  int32
dtypes: bool(1), int32(1), int64(2), object(2)
memory usage: 2.5+ MB

Exportaremos los datos para poder hacer los analisis estadisticos

In [47]:
df_user_reviews.to_parquet('Dataset/user_reviews_clean.parquet', index=False)

## Transformaciones para ciertos endpoints

A la hora de deployar la api se tiene problemas con la memoria por tanto se decidio generar tablas pivot que agrupen la informacion

### PlaytimeGenre

In [56]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
#leemos el archivo
df_steam_games1 = pd.read_json('Dataset/output_steam_games.json', lines=True)
# Busca las filas con todas las columnas nulas y las elimina
df_steam_games1 = df_steam_games1.dropna(how='all')
# Reseteamos el index
df_steam_games1 = df_steam_games1.reset_index(drop=True)
#eliminamos columnas
df_steam_games1 = df_steam_games1.drop(["url", "price", "reviews_url",'specs', 'early_access',"tags","publisher", "app_name","title","developer" ], axis=1)
df_steam_games1 = df_steam_games1.rename(columns={'id': 'item_id'})
df_steam_games1 = df_steam_games1.drop([74,14573,30961]).reset_index(drop=True)
df_steam_games1 = df_steam_games1.drop([2579]).reset_index(drop=True)
# Comprobar y manejar los valores nulos en 'release_date'
df_steam_games1['anio'] = pd.to_datetime(df_steam_games1['release_date'], errors='coerce')

# Eliminar filas con valores nulos en 'release_date'
df_steam_games1 = df_steam_games1.dropna(subset=['anio'])

# Extraer el año de 'release_date' y convertir a tipo entero
df_steam_games1['anio'] = df_steam_games1['anio'].dt.year.astype(int)

# Convertir 'item_id' a tipo entero
df_steam_games1['item_id'] = df_steam_games1['item_id'].astype(int)

# Eliminar la columna 'release_date'
df_steam_games1 = df_steam_games1.drop('release_date', axis=1)

# Cambiar el nombre de 'anio' a 'release_date'
df_steam_games1 = df_steam_games1.rename(columns={'anio': 'release_date'})
df_steam_games1['genres'].fillna("sin dato", inplace=True)
df_steam_games1 = df_steam_games1.explode('genres', ignore_index=True)
# merge entre los dataframe user_items y steam_games
df_combinado =pd.merge(df_steam_games1 ,df_user_items, on='item_id', how='inner')
# Crear la tabla pivot
tabla_pivot_steam_user_items = df_combinado.pivot_table(
    values='playtime_forever',
    index='release_date',
    columns='genres',
    aggfunc=np.sum,
    fill_value=0
).round(2)

tabla_pivot_steam_user_items

C:\Users\LENOVO..LEGION\AppData\Local\Temp\ipykernel_12020\3503185887.py:14: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_steam_games1['anio'] = pd.to_datetime(df_steam_games1['release_date'], errors='coerce')

genres,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,Design &amp; Illustration,Early Access,Education,Free to Play,Indie,...,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing,sin dato
release_date,,,,,,,,,,,,,,,,,,,,,
1983,57.880,57.880,0.000,0.000,57.880,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1984,6.400,6.400,0.000,0.000,6.400,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1987,0.000,128.530,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,3.920,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1988,266.680,499.380,0.000,0.000,0.000,0.000,0.000,0.000,0.000,232.700,...,232.700,0.000,0.020,0.000,0.000,232.700,0.000,0.000,0.000,0.000
1989,10.120,155.180,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,84.730,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1990,305.580,91.530,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,32.100,0.000,0.000,1.000,0.000,0.000,0.000,0.000
1991,41.700,28.700,0.000,0.000,22.580,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,2.400,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1992,32.080,396.580,0.000,0.000,41.530,0.000,0.000,0.000,0.000,0.000,...,36.070,0.000,0.180,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1993,410.380,779.530,0.000,0.000,367.320,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,1.080,0.000,0.000,3047.720,0.000,0.000,0.000,0.000
1994,2002.950,264.830,0.000,0.000,766.250,0.000,0.000,0.000,0.000,0.000,...,34.870,4.820,155.850,0.000,0.000,19.480,0.000,0.000,0.000,0.000
1995,3602.400,167.100,0.000,0.000,59.220,0.000,0.000,0.000,0.000,52.800,...,0.000,516.730,16.330,0.000,516.730,920.450,0.000,0.000,0.000,0.000
1996,1130.730,1736.650,0.000,0.000,509.750,0.000,0.000,0.000,2.120,9.500,...,422.570,20.030,31.970,0.000,0.000,141.130,0.000,0.000,0.000,56.130
1997,5997.270,5406.750,0.000,0.000,542.020,0.000,0.000,0.000,0.000,1071.420,...,5993.730,155.320,82.980,0.000,0.000,2226.180,0.000,0.000,0.000,0.000
1998,48318.600,2980.520,0.000,0.000,215.970,0.000,0.000,0.000,0.000,332.620,...,6303.130,252.170,1785.620,0.000,0.000,435.150,0.000,0.000,0.000,0.000
1999,45252.620,128.920,0.000,0.000,10548.820,0.000,0.000,0.000,10450.120,10450.120,...,5518.880,0.530,2155.020,0.000,0.000,9582.350,0.000,0.000,0.000,0.000
2000,305964.250,1752.020,0.000,0.000,885.300,0.000,0.000,0.000,0.000,88.400,...,887.330,50.250,1157.180,0.000,0.000,517.530,0.000,0.000,0.000,257.780
2001,22105.170,843.650,0.000,0.000,104.050,0.000,0.000,0.000,82.750,1474.200,...,2003.770,0.000,4131.800,0.000,0.000,15688.250,0.000,0.000,0.000,0.000
2002,12201.700,3074.120,0.000,0.000,1026.870,0.000,0.000,0.000,0.000,631.400,...,29719.570,0.000,5889.350,0.000,0.000,8090.870,0.000,0.000,0.000,0.000
2003,198223.380,86490.480,0.000,0.000,50.800,0.000,0.000,0.000,99918.320,35456.000,...,150513.980,515.950,22635.650,0.000,0.000,122217.580,0.000,0.000,0.000,0.000
2004,2161565.930,1602.480,0.000,0.000,403.620,0.000,0.000,0.000,0.000,719.650,...,1201.630,57.950,2265.470,0.000,0.000,61439.700,0.000,0.000,0.000,0.000
2005,204415.720,3440.550,0.000,0.000,678.470,0.000,0.000,0.000,1112.150,5604.500,...,52431.280,3589.870,2917.000,0.000,1162.630,16865.470,0.000,0.000,1564.070,2.170
2006,179546.850,3399.600,0.000,0.000,3937.950,0.000,0.000,0.000,42691.450,7435254.530,...,30640.620,7102.080,7408939.850,0.000,186.370,287103.400,6382.150,2.880,0.000,696.920
2007,292170.130,6652.880,0.000,184.300,12158.680,184.300,0.000,0.000,3541.500,22335.280,...,157722.070,9722.470,23414.680,0.000,21.800,52627.580,184.300,184.300,184.300,0.020
2008,558994.480,54605.230,34.300,0.000,9491.080,34.300,0.000,34.300,3591.980,87593.530,...,172108.520,40179.050,78153.030,34.300,1625.470,135191.250,34.300,0.000,0.000,43.470
2009,2730561.380,112808.500,0.000,0.000,15613.620,0.000,0.000,0.000,39032.400,63492.020,...,427174.650,39957.600,271458.250,0.000,4161.330,529616.230,0.000,0.000,0.000,22.570
2010,3001456.070,415017.400,0.000,0.000,79596.620,0.000,0.000,0.150,143250.170,142220.620,...,1526159.080,34017.720,695618.220,0.000,39610.670,2349190.700,0.000,0.000,0.000,23.700
2011,5527030.050,3693864.850,0.000,0.000,99698.000,0.000,0.000,0.000,718191.330,3754959.120,...,3798059.880,39231.380,272451.800,0.000,15411.420,575217.630,0.000,0.000,0.000,3671.530
2012,18092210.750,1223438.000,298.570,0.000,339370.550,32172.320,53758.780,0.000,1921130.450,2052893.150,...,2724210.120,16593.150,483125.630,0.000,58576.000,1426396.350,172.300,66.830,32172.320,2804.050
2013,6925370.530,2516861.330,7240.550,1219.350,215208.800,4880.050,1981714.880,5676.120,2436895.570,2955795.970,...,2085051.900,78736.700,1817271.150,1646.080,103202.980,2421112.500,10857.620,3735.530,5561.300,1.870
2014,2782664.230,1169889.600,1325.220,7591.050,419957.070,3210.620,187320.030,375.530,670099.850,1536364.600,...,1364218.350,92281.530,621650.600,6878.280,90446.980,838819.520,45194.920,8073.950,560.680,7573.300
2015,4365336.470,3009939.680,22425.750,84.330,1361806.080,25566.880,225594.530,601.380,2143889.670,2893080.880,...,2526832.180,624454.050,1531190.100,610.080,688289.600,1370037.070,9641.100,27710.830,5811.220,1139.570
2016,1596730.770,1035556.450,1911.800,7.650,729989.520,1876.750,162307.300,38.730,388299.200,1492955.950,...,934337.380,60271.850,600427.550,8.020,78227.900,522040.050,1938.330,23.000,2.270,100.700
2017,2105572.530,1547211.370,0.000,0.000,848709.130,0.350,569.920,156.370,1437257.320,2093236.250,...,1125584.470,1936.120,407208.250,156.370,381.180,97732.380,156.720,0.000,156.370,0.000
2018,37.070,0.350,0.000,0.000,0.000,0.000,102.120,0.000,0.000,38.770,...,63.700,0.000,36.720,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [61]:
# Exportamos la tabla pivot
tabla_pivot_steam_user_items.to_parquet("Dataset/tabla_pivot_steam_user_items.parquet")

### UserForGenre

In [72]:
# tabla pivote para mezclar user_id y genero y de valor se suman los playtime en cada iteraccion
df_genero_user_id=df_combinado.pivot_table(
    values='playtime_forever',
    index='user_id',
    columns='genres',
    aggfunc=np.sum,
    fill_value=0
).round(2)
df_genero_user_id

genres,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,Design &amp; Illustration,Early Access,Education,Free to Play,Indie,...,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing,sin dato
user_id,,,,,,,,,,,,,,,,,,,,,
--000--,2324.480,195.370,0.000,0.000,268.920,0.000,8.850,0.000,340.800,203.630,...,122.700,0.000,20.800,0.000,99.380,10.930,0.000,0.000,0.000,0.000
--ace--,1155.420,81.020,0.000,0.000,62.920,0.000,0.000,0.000,88.700,91.100,...,22.250,0.100,5.570,0.000,0.000,23.550,0.000,0.000,0.000,0.000
--ionex--,638.580,32.320,0.000,0.000,13.850,0.000,0.000,0.000,26.150,35.550,...,23.450,0.000,7.000,0.000,0.000,3.750,0.000,0.000,0.000,0.000
-2SV-vuLB-Kg,708.330,135.130,0.000,0.000,83.130,0.000,4.000,0.000,4.950,180.630,...,83.070,6.580,23.470,0.000,0.000,67.770,0.000,0.000,0.000,0.000
-404PageNotFound-,1957.050,351.630,0.000,0.000,186.280,0.000,9.670,0.000,603.100,1488.200,...,297.180,32.220,1697.230,0.000,5.420,383.470,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zzonci,0.000,0.000,0.000,0.000,7.150,0.000,0.000,0.000,7.150,0.000,...,7.150,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
zzoptimuszz,1243.030,1112.550,0.000,0.000,1124.170,0.000,1.720,0.000,1309.300,244.850,...,1001.120,0.000,29.330,0.000,1.770,73.150,0.000,0.000,0.000,0.000
zzydrax,19.900,4.250,0.000,0.000,0.000,0.000,4.250,0.000,0.000,61.680,...,4.250,0.000,57.430,0.000,0.000,0.000,0.000,0.000,0.000,0.000
zzyfo,275.200,48.650,0.000,0.000,128.900,0.000,0.000,0.000,123.850,152.720,...,8.680,5.270,50.870,0.000,0.770,87.130,0.000,0.000,0.000,0.000
zzzmidmiss,148.080,18.220,0.000,0.000,8.900,0.000,0.100,0.000,27.800,59.530,...,38.950,0.150,0.270,0.000,3.500,16.700,0.000,0.000,0.000,1.320

In [71]:
# tabla pivote para mezclar user_id y genero y de valor se suman los playtime en cada iteraccion
df_user_id_release_date=df_combinado.pivot_table(
    values='playtime_forever',
    index='user_id',
    columns='release_date',
    aggfunc=np.sum,
    fill_value=0
).round(2)
df_user_id_release_date

release_date,1983,1984,1987,1988,1989,1990,1991,1992,1993,1994,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
user_id,,,,,,,,,,,,,,,,,,,,,
--000--,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,88.820,1.100,259.400,1972.100,14.200,203.480,890.950,4.900,343.220,0.000
--ace--,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.630,98.930,1024.780,1.180,38.820,47.780,62.500,246.580,0.000
--ionex--,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,3.470,0.000,103.130,591.380,0.530,0.000,65.280,0.000,22.220,0.000
-2SV-vuLB-Kg,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,10.700,0.000,1.770,507.520,19.350,355.570,353.050,8.750,0.000,0.000
-404PageNotFound-,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,2.430,367.970,277.430,975.600,1137.180,333.180,1291.680,36.270,237.220,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zzonci,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,28.600,0.000,0.000,0.000,0.000,0.000,0.000
zzoptimuszz,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.100,12.900,50.550,2.000,79.650,5366.600,662.330,57.950,910.950,0.000
zzydrax,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,4.230,6.720,25.500,0.000,0.000,0.000,0.000,0.000
zzyfo,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,27.480,12.530,111.530,250.720,153.500,10.820,284.780,0.000,1.080,0.000
zzzmidmiss,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,10.450,21.300,41.900,241.120,7.050,1.970,0.000,0.000,0.000,0.000

Se exporto en csv el segundo archivo porque aparecia un error de columnas al exportar en parquet

In [81]:
df_genero_user_id.to_parquet("Dataset/genero_user_id.parquet")
df_user_id_release_date.to_csv("Dataset/user_id_release_date.csv")